{% extends "index.html.twig" %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/button.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/line.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/createOwnSection.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{{ include('header.html.twig') }}
	<div class="container">
		<div class="content">
			<h3 class="content__title">Dodaj własny odcinek</h3>
			<div class="box">
				<h3 class="box__title">Odcinek</h3>
				<div class="line"></div>
				<form action="#" method="POST" class="form">
					<div class="form__part">
						<label for="section_begin" class="form__label">Nazwa punktu początkowego</label>
						<input type="text" name="section_begin" class="button form__input">
					</div>
					<div class="form__part">
						<label for="section_end" class="form__label">Nazwa punktu końcowego</label>
						<input type="text" name="section_end" class="button form__input">
					</div>
					<div class="form__part">
						<label for="section_group" class="form__label">Grupa górska</label>
						<select name="section_group" class="button form__input form__select">
							<option value="0"></option>
							<option value="t01">Tatry Wysokie T.01</option>
							<option value="t02">Tatry Zachodnie T.02</option>
							<option value="bz01">Beskid Śląski BZ.01</option>
							<option value="bz02">Beskid Żywiecki BZ.02</option>
							<option value="bz03">Beskid Mały BZ.03</option>
							<option value="bz05">Gorce BZ.05</option>
						</select>
					</div>
					<div class="form__part">
						<label for="section_length" class="form__label">Długość odcinaka (w km)</label>
						<input type="text" name="section_length" class="button form__input">
					</div>
					<div class="form__part">
						<label for="section_height" class="form__label">Przewyższenie (w m)</label>
						<input type="text" name="section_height" class="button form__input">
					</div>
					<input type="submit" class="button" value="Zapisz odcinek">
					<button class="button button_back" href="./createRoute">
						<a class="link" href="./createRoute">Powrót</a>
					</button>
				</div>
			</div>
		</div>
		{{ include('footer.html.twig') }}
	{% endblock %}
