{% extends "index.html.twig" %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/createRoute.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{{ include('header.html.twig') }}
	<div class="container">
		<div class="content">
			<h3 class="content__title">Utwórz trasę</h3>
			<div class="box">
				<div class="box__nav">
					<input type="button" class="button box__nav__button" value="Dodaj odcinek z bazy danych">
					<input type="button" class="button box__nav__button" value="Dodaj własny odcinek">
				</div>
				<div class="box__route">
					{% if route %}
						<p class="box__route__content">{{ route[0] }}</p>
						<p class="box__route__content">{{ route[1] }}</p>
					{% else %}
						<p class="box__route__content">Ups.. wygląda na to że nie dodałeś jeszcze żadnego odcinka</p>
					{% endif %}
				</div>
				<input type="button" class=" button box__button" value="Powrót">
			</div>
		</div>
	</div>
	{{ include('footer.html.twig') }}
{% endblock %}
