{% extends "index.html.twig" %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/button.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/line.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/findSection.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{{ include('header.html.twig') }}
	<div class="container">
		<div class="content">
			<h3 class="content__title">Przeglądaj odcinki</h3>
			<form method="GET" class="form">
				<div class="form__fields">
					<input type="text" name="section_name" placeholder="np. Śnieżka" class="button form__input__name">
					<select name="section_group" class="button form__input__group">
						<option value="0">Grupa górska ↓</option>
						{% for mountain_group in mountain_groups %}
							<option value="{{mountain_group.idG()}}">{{mountain_group.nazwa}}
								{{mountain_group.kodGrupy}}</option>
						{% endfor %}
					</select>
				</div>
				<input type="submit" value="Wyszukaj" class="button form__input__btn">
			</form>
			<div class="box">
				<div class="box__zone">
					<p class="box__zone__name">TATRY I PODTATRZE</p>
					<span class="line"></span>
					<div class="box__zone__groups">
						{% for mountain_group in mountain_groups %}
							<a href="./findSection_group{{mountain_group.idG}}" class="box__zone__group">
								{{mountain_group.nazwa}}
								{{mountain_group.kodGrupy}}
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ include('footer.html.twig') }}
{% endblock %}
