{% extends "index.html.twig" %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/index.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/button.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/line.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/createOwnSection.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/alert.css') }}" rel="stylesheet">
	<link href="{{ asset('../public/assets/css/checkbox.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{% if logged %}
		{{ include('headerTourist.html.twig') }}
	{% else %}
		{{ include('header.html.twig') }}
	{% endif %}
	{% if alertEmptyFields is defined %}
		<div class="alert_empty_fields">
			{% include('alert.html.twig') with {'type':'alert_empty_fields'} %}
		</div>
	{% endif %}
	<div class="container">
		<div class="content">
			<h3 class="content__title">Modyfikuj własny odcinek</h3>
			<div class="box">
				<h3 class="box__title">Odcinek</h3>
				<div class="line"></div>
				<form action="modifyOwnSectionSave" method="POST" class="form">
					<div class="form__part">
						<label for="section_begin" class="form__label">Nazwa punktu początkowego</label>
						<input type="text" value ={{startPoint.getName()}} name="section_begin" class="button form__input" pattern="(?=.*[a-z]).{4,}" title="Minimum 4 znaki i nie może zawierać samych cyfr." required>
					</div>
					<div class="form__part">
						<label for="section_end" class="form__label">Nazwa punktu końcowego</label>
						<input type="text" required value ={{endPoint.getName()}} name="section_end" class="button form__input" pattern="(?=.*[a-z]).{4,}" title="Minimum 4 znaki i nie może zawierać samych cyfr.">
					</div>
					<div class="form__part">
						<label for="section_group" class="form__label">Grupa górska</label>
						<select name="section_group" class="button form__input form__select">
							{% for mountainGroup in mountainGroups %}
								<option {% if mountainGroup.getIdG == idGroup %} selected="selected" {% endif %} 
                                    value="{{mountainGroup.idG}}">{{mountainGroup.name}}
									{{mountainGroup.groupCode}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form__part">
						<label for="section_length" class="form__label">Długość odcinka (w m)</label>
<input name="section_length" required value ={{length}} class="button form__input" type="number" min="0" max="999">

					</div>
					<div class="form__part">
						<label for="section_height" class="form__label">Przewyższenie (w m)</label>
<input name="section_height" required value ={{elevation}} class="button form__input" type="number" min="0" max="9999">

					</div>
					<label class="check_container">Rozumiem, że modyfikacja tego odcinka jest nieodwracalna
					  <input type="checkbox" required>
  					<span class="checkmark"></span>
					</label>
                    <input type="hidden" value="{{idS}}" name="idS">
                    <input type="hidden" value="{{idSP}}" name="idSP">
                    <input type="hidden" value="{{idEP}}" name="idEP">
					<input type="submit" id="save_own_section_btn" class="button box__button" value="Zapisz odcinek">
				</form>
				<form method="POST" action="./modifyTrail">
					<input type="hidden" value="0" name="idS"/>
					<button class="button box__button" type="submit">Powrót</button>
				</form>
			</div>
		</div>
	</div>
	{{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}
	<script defer src="../public/assets/js/alertCreateOwnSection.js"></script>
{% endblock %}
